<div class="center hero-unit">
	<h1>Hello Coach Member!</h1>
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

	<div class="polaroid">
		<%= image_tag "koushik.jpg"%>
		<p>
			Koushik Pal

		</p>
	</div>
	
	<%= link_to "Sign in", new_member_session_path , :class => "btn btn-large btn-block btn-primary" %>

</div>
